#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(210deg, 30%, 8%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.headerSec{
    width: 100%;
    height: 400px;
    text-align: center;
    color: white;
    background-color: #d3d0a9;
    opacity: 0.9;
  }

  
  .headerSec h1 {
  margin: 0%;
  font-size: 100px;
  background-color: rgba(rgb(87, 65, 65), rgb(29, 35, 29), rgb(34, 34, 45), alpha, 0.1);
  }
  
  .headerSec img {
  background-repeat: repeat;
  background-size: contain;
  width: 100%;
  object-fit: cover;
  height: 400px;;
  }
  
  
  /* /HEADER */
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 15s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  footer {
    width: 60%;
    margin: auto;
  }


  .everyContainer {
    width: 46%;
    height: 300px;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 40px;
    background-color: #282c34;
    padding: 15px;
    text-align: left;
  }
  .everyContainer p {
    height: 40%;
  }

  .containers {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin-left: 10%;
    flex-wrap: wrap;
  }

  .everyContainer:hover{
    scale: 1.01;
    transition: 0.3s;
    border: 2px solid white;
    background-color: rgb(15, 14, 14);
  }

  .everyContainer:hover .stepsimage img{
visibility: visible;
transition: 0;
background-color: transparent;
padding-top: 15px;
  }

  .everyContainer:hover h3 {
    font-size: larger;
    transition: 0.3s;
    color: rgb(82, 82, 218);
  }

  .everyContainer:hover h2 {
    transition: 0.9s;
    color: rgb(70, 147, 8);
  }

  .everyContainer img {
    width: 10%;
    height: 15%;
  }

  .stepsimage {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  .stepsimage img {
padding-left: 20px;
visibility: hidden;
  }

  .gallery {
  --d: 15s;
  display: grid;
  width: 220px;
  margin: 0 auto;
}

.gallery > img {
  grid-area: 2/1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  animation: slide var(--d) infinite;
  border-radius: 15px;
}

.gallery img:last-child {
  animation-name: slide-last;
}

.gallery > img:nth-child(1) {
  animation-delay: calc(0*var(--d));
  --r: -4deg;
}

.gallery > img:nth-child(2) {
  animation-delay: calc(-0.2*var(--d));
  --r: 2deg;
}

.gallery > img:nth-child(3) {
  animation-delay: calc(-0.4*var(--d));
  --r: 20deg;
}

.gallery > img:nth-child(4) {
  animation-delay: calc(-0.6*var(--d));
  --r: -13deg;
}

.gallery > img:nth-child(5) {
  animation-delay: calc(-0.8*var(--d));
  --r: 8deg;
}

.gallery > img:nth-child(6) {
  animation-delay: calc(-1*var(--d));
  --r: 8deg;
}

@keyframes slide {
  0%, 100%, 80.01% {
    transform: translateX(0%) rotate(var(--r));
    z-index: 3;
  }
  10% {
    transform: translateX(-120%) rotate(var(--r));
    z-index: 3;
  }
  10.01% {
    transform: translateX(-120%) rotate(var(--r));
    z-index: -3;
  }
  20%, 80% {
    transform: translateX(0%) rotate(var(--r));
    z-index: -3;
  }
}
@keyframes slide-last {
  0%, 100%, 90.01% {
    transform: translateX(0%) rotate(var(--r));
    z-index: 3;
  }
  10% {
    transform: translateX(120%) rotate(var(--r));
    z-index: 3;
  }
  10.01% {
    transform: translateX(120%) rotate(var(--r));
    z-index: -3;
  }
  20%, 90% {
    transform: translateX(0%) rotate(var(--r));
    z-index: -3;
  }
}

.carousleH2 {
  font-size: 50px;
  margin-bottom: 60px;
}